# "Likes" Report
### EMAT 22110 - Data in Emerging Media and Technology
### By Anamarie Jones
### Created: 9/3/21
### Last Updated: 9/21/21

#### Import pandas and json. Json file imported from Downloads, Instagram data, liked posts.

In [117]:
import pandas as pd
import json

In [118]:
with open(r"C:\Users\Anamarie Jones\Downloads\ana_jones0216_20210907\likes\liked_posts.json") as p:
          lik = json.load(p)
lik.keys()

dict_keys(['likes_media_likes'])

In [119]:
type(lik['likes_media_likes'])

list

#### Convert data to DataFrame using Pandas. Use .keys() to figure out which is best to use.

In [121]:
df_likes = pd.DataFrame(lik['likes_media_likes'])

In [122]:
lik['likes_media_likes'][0].keys()

dict_keys(['title', 'media_list_data', 'string_list_data'])

#### Defined the columns values before putting them into a DataFrame.

In [123]:
name = [x['title'] for x in lik['likes_media_likes']]
liks = [x['media_list_data'] for x in lik['likes_media_likes']]
timestamp = [x['string_list_data'][0]['timestamp'] for x in lik['likes_media_likes']]

In [124]:
df_likes2 = pd.DataFrame(columns = ('Username', 'Likes', 'Timestamp'))
df_likes2['Username'] = name
df_likes2['Likes'] = liks
df_likes2['Timestamp'] = timestamp

#### Create new column for the timestamp values

In [125]:
df_likes2

              Username Likes   Timestamp
0          rose__golds    []  1451226281
1     julia.c.menendez    []  1451226262
2          mary.rohrer    []  1451226208
3          rose__golds    []  1451226159
4          rose__golds    []  1451226156
...                ...   ...         ...
4138        __evie_k__    []  1597896789
4139  kathleen.brunner    []  1597896767
4140        paige_bren    []  1597712640
4141      haleyhanchin    []  1597601744
4142         mkrisby13    []  1597537945

[4143 rows x 3 columns]

#### Summerize number of likes by account using groupby() and count()

In [126]:
df_likes2.groupby('Username').count().sort_values('Likes', ascending = False)

                  Likes  Timestamp
Username
amazingnailpics     224        224
leah.n.jones        173        173
angchick24          127        127
cj_happel           105        105
julia.c.menendez     91         91
...                 ...        ...
netflixnmovies        1          1
netflixtrendlng       1          1
netflixtweetss        1          1
nfl                   1          1
kalesaladvideos       1          1

[523 rows x 2 columns]

#### Who collected this data? (we downloaded the data, but did we collect it?)
Instagram is owned by Facebook so they share data collected. They collect their data when users interact with ads, searches, other users an all other types of actions.

#### Why was this data collected? (other than to complete this assignment)
This data was collected for Instagram and Facebook to individualize content that users are shown. They use an algorithym that adapts which ads are shown to a user based on data collected on them. This can specify age, gender, hobbies, friends and family along with many other demographics.

#### In what ways may this data be reliable?
This data is reliable becasue it is data that has been specifically collected by actions taken by the user and by others. 

#### In what ways may this data be unreliable?
I think that this data can be unreliable because data is collected from humans and humans are imperfect. This can cause the data to become skewed at some point when user errors occur.

### Do more interactions on a post cause Instagram's algorithym to make the post impressions rize? If the number of interactions on a post are high the post insights will increase.

#### Import json from downloads, instagram data, past_instagram_insights, posts.

In [127]:
with open (r"C:\Users\Anamarie Jones\Downloads\ana_jones0216_20210907\past_instagram_insights\posts.json") as r:
    reach = json.load(r)
reach.keys()

dict_keys(['organic_insights_posts'])

#### The data needed is inside string_map_data so it has to by properly called out to get the correct values. Created arrays to locate each value and put them into a loop. The looped arrays get called when insights DataFrame is made and turn into a readable table of values to compare.

In [129]:
profilev = []
impress = []
follows = []
accreach = []
saves = []
likes = []
comments = []
shares = []
timestamp = []

for i in reach['organic_insights_posts']:
    profilev.append(i['string_map_data']['Profile Visits']['value'])
    impress.append(i['string_map_data']['Impressions']['value'])
    follows.append(i['string_map_data']['Follows']['value'])
    accreach.append(i['string_map_data']['Accounts Reached']['value'])
    saves.append(i['string_map_data']['Saves']['value'])
    likes.append(i['string_map_data']['Likes']['value'])
    comments.append(i['string_map_data']['Comments']['value'])
    shares.append(i['string_map_data']['Shares']['value'])
    timestamp.append(i['string_map_data']['Creation Timestamp']['timestamp'])

In [130]:
insights = pd.DataFrame(columns = ('Profile Visits', 'Impressions', 'Follows', 'Accounts Reached', 'Saves', 'Likes', 'Comments', 'Shares', 'Timestamp'))
insights['Profile Visits'] = profilev
insights['Impressions'] = impress
insights['Follows'] = follows
insights['Accounts Reached'] = accreach
insights['Saves'] = saves
insights['Likes'] = likes
insights['Comments'] = comments
insights['Shares'] = shares
insights['Timestamp'] = timestamp
insights

,Profile Visits,Impressions,Follows,Accounts Reached,Saves,Likes,Comments,Shares,Timestamp
0,36,583,2,515,0,113,0,0,1630543386
1,109,964,2,744,2,191,3,0,1626808547
2,33,"1,372",2,900,1,173,18,0,1600718707
3,32,"1,471",0,953,0,161,3,1,1589062288

#### In conclusion I learned older posts have a higher amount of impressions than newer posts reguardless of other interations. I found this data interesting because I always thought that Instagram 'likes' helped to raise impressions on a post. The data showed that the impressions increased respectively to the timestamp of my posts. The data also tells me that no other interaction on my post aligned with the number of impressions on my post.

#### This data is limited because of the limited number of posts shown and lack of the time between each post. I would need more data about the posts themselves and what caused them to have more impressions than the others. Data about the amount of followers total at each post date or how instagram presents my posts to other users.