****Twiiter API by Anamarie Jones****

In [3]:
import pandas as pd
import json
import requests
import urllib
import sqlite3

In [4]:
bearer_token = pd.read_csv('Bearer_Token2.0.txt', sep = '\t', header = 0)

In [16]:
header = {'Authorization' : 'Bearer {}'.format(bearer_token['Bearer_Token'].iloc[0])}

In [17]:
response = requests.request("GET", url, headers = header)

In [18]:
bearer_token.keys()

Index(['Bearer_Token'], dtype='object')

In [19]:
endpoint_url = 'https://api.twitter.com/2/tweets/search/recent'

In [70]:
query = urllib.parse.quote('(#Sweets OR #Sweet OR #Treat OR #Baking OR #Cupcakes OR #Cake OR #Cookies)lang:en')

**Above I create my query by collecting tweet data about different keywords relating to desserts and baking.**

In [71]:
query

'%28%23Sweets%20OR%20%23Sweet%20OR%20%23Treat%20OR%20%23Baking%20OR%20%23Cupcakes%20OR%20%23Cake%20OR%20%23Cookies%29lang%3Aen'

In [72]:
tweet_fields = 'public_metrics,created_at,author_id,lang'

In [73]:
url = endpoint_url + '?query={}&tweet.fields={}'.format(query, tweet_fields)

In [74]:
expansions = 'author_id'

**Below I created a url api for my query results to give me the data I am looking for.**

In [75]:
url_expansions = endpoint_url + '?query={}&max_results=100&tweet.fields={}&expansions={}&user.fields={}'.format(query, tweet_fields, expansions, 'username')

In [76]:
response_1 = requests.request("GET", url_expansions, headers = header)

In [77]:
response_1_dict = json.loads(response_1.text)

In [78]:
response_1_dict.keys()

dict_keys(['data', 'includes', 'meta'])

In [121]:
response_1_dict['meta']

{'newest_id': '1450977271557197826',
 'oldest_id': '1450971436395335684',
 'result_count': 100,
 'next_token': 'b26v89c19zqg8o3fpdv5st4zisox2mpwatkjibn4xf14t'}

**I turn my data into a DataFrame using pandas.**

In [105]:
user_info = pd.DataFrame(response_1_dict['includes']['users'])

In [107]:
my_df = pd.DataFrame(response_1_dict['data'])

**Below I combine columns from a different data frame into the same one.**

In [116]:
my_df['name'] = user_info['name']

In [118]:
my_df['username'] = user_info['username']

In [123]:
my_df.to_csv("twitter_data.csv")

In [125]:
url_expansions_2 = url_expansions + '&next_token={}'.format(response_1_dict['meta']['next_token'])

**Above I make a new url api for my new data frame using a new page of my query results.**

In [127]:
response_2 = requests.request("GET", url_expansions_2, headers = header)

In [140]:
my_df_2 = my_df.append(pd.DataFrame(json.loads(response_2.text)['data']), ignore_index= True)

**Below I create a table that tells me a username, text, and when the teweet was created.**

In [129]:
my_df_2

,author_id,public_metrics,id,text,created_at,lang,name,username
0,1436720852100259849,"{'retweet_count': 505, 'reply_count': 0, 'like...",1450977271557197826,RT @jccrypto55: Here is my favorite play \n$xp...,2021-10-21T00:08:34.000Z,en,üçÄmeongüçÄ,jaemcityxxxxxx
1,1304961757950214145,"{'retweet_count': 10, 'reply_count': 0, 'like_...",1450977173469343745,RT @king_cruz4: Happy #Humpday from me and min...,2021-10-21T00:08:10.000Z,en,Zeus,69nerdy
2,1330961108631494659,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1450977170172563456,@thegrumpyolive @BloggersHut @RTBlogRoyalty @U...,2021-10-21T00:08:09.000Z,en,JustinaMartinez143,Justina29412755
3,1241140723853840385,"{'retweet_count': 505, 'reply_count': 0, 'like...",1450977169711136772,RT @jccrypto55: Here is my favorite play \n$xp...,2021-10-21T00:08:09.000Z,en,Yupi,girlsquady
4,1368619637798285315,"{'retweet_count': 129, 'reply_count': 0, 'like...",1450977123083116553,RT @vincent_gogh20: #FrostedCake the next #Pan...,2021-10-21T00:07:58.000Z,en,Cute brother,palustra2021
...,...,...,...,...,...,...,...,...
195,707205364714967041,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1450965195090808849,Just in from my mole in the Weymouth Moms grou...,2021-10-20T23:20:34.000Z,en,NaN,NaN
196,1330961108631494659,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1450965070863912963,@Rebeka_White #Free from #Saturday #October 23...,2021-10-20T23:20:05.000Z,en,NaN,NaN
197,82953545,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",1450965018107863048,RT @WeaselMomma: The dark days are over #SHIBA...,2021-10-20T23:19:52.000Z,en,NaN,NaN
198,1330961108631494659,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1450964992233295878,@thomgrantbruso #Free from #Saturday #October ...,2021-10-20T23:19:46.000Z,en,NaN,NaN
199,1330961108631494659,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1450964878638915589,@VampaJl #Free from #Saturday #October 23 to #...,2021-10-20T23:19:19.000Z,en,NaN,NaN

In [130]:
my_df_2.to_csv("twitter_data_2.csv")

In [133]:
my_df_2.tail(3)

,author_id,public_metrics,id,text,created_at,lang,name,username
197,82953545,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",1450965018107863048,RT @WeaselMomma: The dark days are over #SHIBA...,2021-10-20T23:19:52.000Z,en,NaN,NaN
198,1330961108631494659,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1450964992233295878,@thomgrantbruso #Free from #Saturday #October ...,2021-10-20T23:19:46.000Z,en,NaN,NaN
199,1330961108631494659,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",1450964878638915589,@VampaJl #Free from #Saturday #October 23 to #...,2021-10-20T23:19:19.000Z,en,NaN,NaN

***During the holidays tweets about baking and creating sweet treats get more frequent interactions than at other times of the year.***

The data frame I used in useful because the time when each tweet was posted in visible.

This data is limited because for my question I need to see when the tweet is posted, which is given in this data however there is no room for expanding on my hypothesis.

The next steps to take with this data I would take would be to split this data into year by year information on timestamps around each holiday per year.